@model Product 
@{
    ViewBag.Title = "Index";
     
}

<h2 class="text-center">Product List</h2>
@*Search Mechanism*@
<div>
    @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.TextBox("searchString", "", new { @class = "form-control d-inline" })
        <input type="button" id="btnSearch" name="" value="Search" class="btn btn-primary" />

    }

</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProduct"> Create </button>

<div id="productListSection">
    @{
        Html.RenderAction("ProductList");
    }
</div>


@*Modal For Product Create*@
<div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="productHeader">Create Product</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <div style="margin-left: 100px">
                    @Html.Partial("_PartialCreate",null, new ViewDataDictionary { { "Catagory", (List<Catagory>)ViewData["catagory"]}})
                    @*@Html.Partial("_PartialCreate", null, new ViewDataDictionary { { "ViewBag", catagory } })*@

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnSearch").click(() => {
        var searchValue = $("#searchString").val();
        $.ajax({
            url: "@Url.Action("ProductList", "Product")",
            data: {
                searchString: searchValue
            }
        })
            .done((response) => {
                $("#ProductTableContainer").html(response);
            })
            .fail((XMLHttpRequest, textStatus, errorThrown) => {
                alert("Fail!");
            })
            ;
    });
</script>

<script>
    $("#btnEdit").click(() => {
        $.ajax({
            method: "GET",
            url: "@Url.Action("Edit", "Product")",
        })
            .done((response) => {
                $("#ProductTableContainer").html(response);
                $("#CreateForm").trigger("reset");
            })
            .fail((XMLHttpRequest, textStatus, errorThrown) => {
                alert("Fail!");
            })
            ;
    });
</script>





